Django==1.8.6
Pillow==3.0.0
Werkzeug==0.10.4
django-constance==1.1.1
django-extensions==1.5.9
django-picklefield==0.3.1
pgmagick==0.6
sorl-thumbnail==12.3

-e git+https://github.com/flebel/django-robinson.git#egg=django-robinson
-e git+https://github.com/flebel/francoislebel-django-gmapi@beb325a5914da86baed227e01489494d0c21cb35#egg=django-gmapi
-e git+https://github.com/svetlyak40wt/django-tagging-ng.git@f4f1a287ad16251c81d5e6ecf150c2d25fb15da0#egg=django-tagging-ng

