a,
a:hover,
a:visited {
    color: #81b9bb;
}

a.static_photo {
    text-decoration: none;
}

hr {
    border: 1px solid #dfe7b4;
    margin: 4px 0 4px 0;
    width: 370px;
}

div#details {
    float: left;
    height: 600px;
    overflow: auto;
    width: 400px;
}

div#details div.exif_tags span,
div#infowindow div.description span {
    padding: 0 0 0 5px;
}

div#details p.default_text {
    font-weight: bold;
}

div#footer {
    float: left;
    text-align: center;
    width: 100%;
}

div#footer span {    
    color: #a0a0a0;
}

div#infowindow div.description span.title {
    color: #81b9bb;
    padding: 0;
}

div#infowindow div.thumbnail {
    padding: 0 0 0 5px;
}

div#map_canvas {
    float: left;
    height: 600px;
    width: 800px;
}

div.description {
    float: left;
}

div.description label,
div.exif_tags label {
    color: #b0ca68;
}

div.description span,
div.exif_tags span {
    color: #8fb710;
}

div.exif_tags {
    float: left;
}

div.thumbnail {
    float: left;
    font-weight: bold;
}

span.title {
    font-weight: bold;
}

