{% load i18n %}
{% load thumbnail %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>django-robinson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="{{MEDIA_URL}}favicon.ico"/>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/map.css" type="text/css" media="screen" charset="utf-8"/>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8">
            google.load("maps", "3", {"other_params":"sensor=false"});
            google.load("jquery", "1.6.2");
        </script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                // Returns the list of PKs of the photos contained in the same marker
                // cluster as the 'pk' parameter
                function markerCluster(pk, clusters) {
                    // Check out if the current photo is contained in a cluster
                    for (var cluster in clusters) {
                        if ($.inArray(parseInt(pk), clusters[cluster]) >= 0) {
                            return clusters[cluster];
                        }
                    }
                }

                var details_div = $("div#details").clone();

                $.getJSON("/markers.json", null, function(data) {
                    var markers = [];
                    $.each(data.markers, function(key, val) {
                        markers.push({
                            accuracy: val.acc,
                            date_taken: val.dt,
                            elevation: val.ele,
                            lat: val.lat,
                            location: val.loc,
                            lon: val.lon,
                            pk: key,
                            thumbnail_url: val.thumb_url
                        });
                    });

                    var mapOptions = {
                        // Center the map at the geographical center of North America
                        center: new google.maps.LatLng(48.354479, -99.998135),
                        keyboardShortcuts: false,
                        mapTypeControl: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                        mapTypeId: google.maps.MapTypeId.HYBRID,
                        scaleControl: true,
                        zoom: 3
                    };

                    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                    var infoWindow = new google.maps.InfoWindow({
                        disableAutoPan: true
                    });

                    for (var key in markers) {
                        if (!markers.hasOwnProperty(key))
                            continue;

                        var marker = new google.maps.Marker({
                            clickable: true,
                            marker_data: markers[key],
                            map: map,
                            position: new google.maps.LatLng(markers[key].lat, markers[key].lon),
                            title: markers[key].location
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            var marker_data = this.marker_data;
                            var cluster = markerCluster(marker_data.pk, data.clusters);

                            if (!cluster)
                                cluster = [marker_data.pk];

                            $("div#details").empty();

                            for (var pk in cluster) {
                                $.getJSON("/markers/" + cluster[pk] + ".json", null, function(data) {
                                    var details_div_photo = details_div.clone();

                                    $(details_div_photo).find("div.thumbnail a.thumbnail_link").attr("href", data.lg_url);
                                    $(details_div_photo).find("div.thumbnail img.thumbnail_img").attr("src", data.sm_url);
                                    $(details_div_photo).find("div.description a.location_link").attr("href", "http://www.google.com/#" + data.srch_qry);
                                    $(details_div_photo).find("div.description a.location_link").text(marker_data.location);
                                    $(details_div_photo).find("div.description span.accuracy").text(marker_data.accuracy);
                                    $(details_div_photo).find("div.description span.date_taken").text(marker_data.date_taken);
                                    $(details_div_photo).find("div.description span.elevation").text(marker_data.elevation);

                                    $(details_div_photo).find("div.exif_tags").empty();
                                    if (data.et.length > 0)
                                        $(details_div_photo).find("div.exif_tags").append("<hr/>");
                                    else
                                        $(details_div_photo).find("div.description").append("<br/>");

                                    for (var tag in data.et) {
                                        $(details_div_photo).find("div.exif_tags").append("<label>" + data.et[tag].key + "</label>");
                                        $(details_div_photo).find("div.exif_tags").append("<span>" + data.et[tag].value + "</span>");
                                        $(details_div_photo).find("div.exif_tags").append("<br/>");
                                    }
                                    $(details_div_photo).find("div.exif_tags").append("<br/>");

                                    $("div#details").append($(details_div_photo).find("div.thumbnail").last());
                                    $("div#details").append($(details_div_photo).find("div.description").last());
                                    $("div#details").append($(details_div_photo).find("div.exif_tags").last());
                                    $("div#details div#placeholder").remove();
                                    $("div#details div.thumbnail, div#details div.description, div#details div.exif_tags").show();
                                });
                            }
                        });

                        google.maps.event.addListener(marker, 'mouseout', function() {
                            infoWindow.close(map, this);
                        });

                        google.maps.event.addListener(marker, 'mouseover', function() {
                            var cluster = markerCluster(this.marker_data.pk, data.clusters);
                            var title = "";
                            if (cluster) {
                                title = '{% trans "There are" %} ' + cluster.length + ' {% trans "photos at this location." %}<br/>{% trans "Click on the marker to view them." %}';
                            } else {
                                title = this.marker_data.location;
                            }
                            var html ='<div id="infowindow"><div class="description">' +
                                '<span class="title">' + title + '</span>';
                            if (!cluster) {
                                html += '<br/>' +
                                    '<label>{% trans "Accuracy" %}</label>' +
                                    '<span>' + this.marker_data.accuracy + '</span>' +
                                    '<br/>' +
                                    '<label>{% trans "Date taken" %}</label>' +
                                    '<span>' + this.marker_data.date_taken + '</span>' +
                                    '<br/>' +
                                    '<label>{% trans "Elevation" %}</label>' +
                                    '<span>' + this.marker_data.elevation + '</span>';
                            }
                            html += '</div>' +
                                '<div class="thumbnail"><img src="' + this.marker_data.thumbnail_url + '"></div>' +
                                '</div>';
                            infoWindow.setContent(html);
                            infoWindow.open(map, this);
                        });
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id="details">
            <div id="placeholder">
                {% thumbnail DEFAULT_PHOTO PHOTO_SMALL_SIZE crop="center" format="PNG" as image %}
                    <img alt="Click on a marker to get more details" src="{{image.url}}"/>
                {% endthumbnail %}
                <p class="default_text">Hey! Click on a marker to get more details.</p>
            </div>
            <div class="thumbnail">
                <a class="thumbnail_link" target="_blank" href="">
                    <img class="thumbnail_img" src="">
                </a>
            </div>
            <div class="description">
                <span class="title"><a class="location_link" target="_blank" href=""></a></span>
                <br/>
                <label>{% trans "Accuracy" %}</label>
                <span class="accuracy"></span>
                <br/>
                <label>{% trans "Date taken" %}</label>
                <span class="date_taken"></span>
                <br/>
                <label>{% trans "Elevation" %}</label>
                <span class="elevation"></span>
            </div>
            <div class="exif_tags"></div>
        </div>
        <div id="map_canvas"></div>
        <div id="footer"><span>Build your own map with <a href="http://github.com/flebel/django-robinson">django-robinson</a>.</span></div>
    </body>
</html>

